
body {
      background-color: #FF0B55;
        }
        .tile {
            background-size: 300% 300%;
            border: 1px solid #ccc;
            cursor: pointer;
            transition: transform 0.2s;
        }
        .tile:hover {
            transform: scale(0.98);
        }
